<div class="header">
	<h1 class="title"><%= __('Menu.Categories') %></h1>
	<div class="meta"><%= _p('Categories',site.categories.length) %></div>
</div>
<div class="post-text"><%- list_categories()%></div>