/*
night 配色

灰黑为主色调。
相对于 white 配色，~~相当于反色~~。
*/

$text-color                                                     = #999;

$siteloading-bg-color                                           = rgba(33, 33, 33, .7);
$scrollbar-bg-color                                             = #444;
$scrollbar-color                                                = #666;
$body-shadow-color                                              = #666;

$blockquote-color                                               = #252525;
$a-color                                                        = rgb(170, 170, 170);
$hr-color                                                       = rgb(33, 33, 33);
$h-bg-color                                                     = rgba(99,99,99,.3);
$h-cross-color                                                  = #ff8282;

$toolbar-fa-border-color                                        = rgb(37, 37, 37);

$selection-color                                                = #fff;
$selection-bg-color                                             = #ddd;

$category-list-count-badge-color                                = #fff;
$category-list-count-badge-bg-color                             = #000;

$comments-bg-color                                              = rgb(33, 33, 33);
$comments-border-color                                          = rgb(33, 33, 33);

$footer-bg-color                                                = rgb(37, 37, 37);
$footer-border-color                                            = rgb(37, 37, 37);
$footer-color                                                   = #555;

$paginator-padding-color                                        = rgb(25, 25, 25);
$paginator-border-color                                         = rgb(33, 33, 33);
$paginator-bg-color                                             = rgb(33, 33, 33);
$paginator-color                                                = rgb(170, 170, 170);
$paginator-hover-color                                          = #fff;
$paginator-hover-bg-color                                       = rgb(33, 33, 33);
$paginator-current-color                                        = #fff;
$paginator-current-bg-color                                     = rgb(37, 37, 37);

$post-bg-color                                                  = rgb(25, 25, 25);
$post-header-bg-color                                           = rgb(33, 33, 33);
$post-header-border-bottom-color                                = rgb(37, 37, 37);
$post-header-title-color                                        = rgb(170, 170, 170);
$post-meta-color                                                = #98a6ad;
$post-breadcrumb-bg-color                                       = rgb(33, 33, 33);
$post-breadcrumb-border-color                                   = rgb(33, 33, 33);
$post-text-bg-color                                             = rgb(33, 33, 33);
$post-text-border-color                                         = $post-bg-color;
$post-text-link-color                                           = #eee;
$post-text-link-hover-color                                     = #fff;
$post-prev-bg-color                                             = rgb(33, 33, 33);
$post-prev-border-color                                         = rgb(33, 33, 33);
$post-prev-color                                                = #555;
$post-next-bg-color                                             = rgb(33, 33, 33);
$post-next-border-color                                         = rgb(33, 33, 33);
$post-next-color                                                = #555;
$post-item-bg-color                                             = rgb(33, 33, 33);
$post-item-border-color                                         = rgb(33, 33, 33);
$post-item-meta-color                                           = #98a6ad;
$post-item-shadow-color                                         = #000;
$post-item-hover-shadow-color                                   = #555;
$post-item-bottom-shadow-color                                  = rgba(33, 33, 33, .7);

$sidebar-border-color                                           = rgb(33, 33, 33);
$sidebar-bg-color                                               = rgb(33, 33, 33);
$sidebar-footer-border-color                                    = rgb(37, 37, 37);
$sidebar-footer-bg-color                                        = rgb(37, 37, 37);
$sidebar-footer-color                                           = #555;
$sidebar-text-mini-text-color                                   = #98a6ad;
$sidebar-list-group-item-bg-color                               = rgb(37, 37, 37);
$sidebar-list-group-item-color                                  = #777;
$sidebar-list-group-item-hover-color                            = #777;
$sidebar-list-group-item-hover-bg-color                         = rgb(33, 33, 33);
$sidebar-list-group-item-current-color                          = #777;
$sidebar-list-group-item-current-bg-color                       = rgb(33, 33, 33);
$sidebar-badge-color                                            = #fff;
$sidebar-badge-bg-color                                         = #000;

$toolbar-border-color                                           = rgb(33, 33, 33);
$toolbar-bg-color                                               = rgb(33, 33, 33);
$toolbar-title-color                                            = #777;
$toolbar-post-toc-bg-color                                      = rgb(37, 37, 37);
$toolbar-post-toc-color                                         = #fff;
$toolbar-post-toc-border-color                                  = rgb(37, 37, 37);
$toolbar-tab-page-tabContent-border-top-color                   = rgb(37, 37, 37);
$toolbar-tab-page-sidetitle-color                               = #98a6ad;
$toolbar-tab-page-current-border-bottom-color                   = #000;
$toolbar-list-group-item-bg-color                               = rgb(37, 37, 37);
$toolbar-list-group-item-color                                  = #777;
$toolbar-list-group-item-border-color                           = rgb(37, 37, 37);
$toolbar-list-group-item-badge-color                            = #ddd;
$toolbar-list-group-item-badge-bg-color                         = #000;
$toolbar-tag-cloud-bg-color                                     = $toolbar-bg-color;

$topbar-bg-color                                                = rgb(33, 33, 33);
$topbar-link-color                                              = #777;
$topbar-shadow-color                                            = rgb(0, 0, 0);

$fa-border-color                                                = rgb(33, 33, 33);

$timeline-b-color                                               = #909399;
$timeline-hover-b-color                                         = #eb5055;
$timeline-circle-color                                          = #000;
$timeline-line-color                                            = #000;
$timeline-circle-bg-color                                       = #222;