/*
trans 配色

红白蓝为主色调。
相对于 white 配色，辅助色改为红蓝色。
*/

.color-trans {

--text-color                                                     : #555;

--YurLoading-bg-color                                            : rgba(256,256,256,.7);
--scrollbar-bg-color                                             : #f5f5f5;
--scrollbar-color                                                : #ff8282;
--body-shadow-color                                              : rgba(0, 0, 0, 0.3);

--blockquote-color                                               : #fff;
--a-color                                                        : #777;
--hr-color                                                       : rgba(245,169,184,.5);
--h-bg-color                                                     : rgba(189,202,219,.3);
--h-cross-color                                                  : rgb(245,169,184);
--summary-color                                                  : #eee;
--summary-hover-color                                            : #ddd;
--fieldset-border-color                                          : #ccc;
--legend-background-color                                        : rgb(245,169,184);
--th-background-color                                            : rgb(245,169,184);
--tr-background-color                                            : rgba(245,169,184,0.2);

--toolbar-fa-border-color                                        : #fff;

--selection-color                                                : rgb(91,206,250);
--selection-bg-color                                             : rgb(245,169,184);

--category-list-count-badge-color                                : #fff;
--category-list-count-badge-bg-color                             : rgb(245,169,184);

--comments-bg-color                                              : #fff;
--comments-border-color                                          : #fff;

--footer-bg-color                                                : rgb(91,206,250);
--footer-border-color                                            : rgb(91,206,250);
--footer-color                                                   : #fff;

--paginator-padding-color                                        : #eee;
--paginator-border-color                                         : #eee;
--paginator-bg-color                                             : #fff;
--paginator-color                                                : #777;
--paginator-hover-color                                          : #fff;
--paginator-hover-bg-color                                       : rgb(91,206,250);
--paginator-current-color                                        : #fff;
--paginator-current-bg-color                                     : rgb(245,169,184);

--post-bg-color                                                  : #eee;
--post-header-bg-color                                           : #fafafa;
--post-header-border-bottom-color                                : #fff;
--post-header-title-color                                        : rgb(245,169,184);
--post-meta-color                                                : rgb(91,206,250);
--post-breadcrumb-bg-color                                       : #fff;
--post-breadcrumb-border-color                                   : #fff;
--post-text-bg-color                                             : #fff;
--post-text-border-color                                         : --post-bg-color;
--post-text-link-color                                           : rgb(245,169,184);
--post-text-link-hover-color                                     : rgb(91,206,250);
--post-prev-bg-color                                             : rgb(245,169,184);
--post-prev-border-color                                         : rgb(245,169,184);
--post-prev-color                                                : #fff;
--post-next-bg-color                                             : rgb(91,206,250);
--post-next-border-color                                         : rgb(91,206,250);
--post-next-color                                                : #fff;
--post-item-bg-color                                             : #fff;
--post-item-border-color                                         : #fff;
--post-item-meta-color                                           : #98a6ad;
--post-item-shadow-color                                         : rgb(245,169,184);
--post-item-hover-shadow-color                                   : rgb(91,206,250);
--post-item-bottom-shadow-color                                  : rgba(245,169,184,0.8);

--sidebar-border-color                                           : #fafafa;
--sidebar-bg-color                                               : #fafafa;
--sidebar-footer-border-color                                    : rgb(245,169,184);
--sidebar-footer-bg-color                                        : rgb(245,169,184);
--sidebar-footer-color                                           : #fff;
--sidebar-text-mini-text-color                                   : #98a6ad;
--sidebar-list-group-item-bg-color                               : #fafafa;
--sidebar-list-group-item-color                                  : #777;
--sidebar-list-group-item-hover-color                            : #fff;
--sidebar-list-group-item-hover-bg-color                         : rgb(245,169,184);
--sidebar-list-group-item-current-color                          : #fff;
--sidebar-list-group-item-current-bg-color                       : rgb(91,206,250);
--sidebar-badge-color                                            : #fff;
--sidebar-badge-bg-color                                         : rgb(245,169,184);

--toolbar-border-color                                           : #fafafa;
--toolbar-bg-color                                               : #fafafa;
--toolbar-title-color                                            : rgb(245,169,184);
--toolbar-post-toc-bg-color                                      : #fff;
--toolbar-post-toc-color                                         : #777;
--toolbar-post-toc-active-bg-color                               : #ffdce3;
--toolbar-tab-page-tabContent-border-top-color                   : rgba(245,169,184,.5);
--toolbar-tab-page-sidetitle-color                               : rgb(91,206,250);
--toolbar-tab-page-current-border-bottom-color                   : rgb(245,169,184);
--toolbar-list-group-item-bg-color                               : #fff;
--toolbar-list-group-item-color                                  : #777;
--toolbar-list-group-item-border-color                           : #ddd;
--toolbar-list-group-item-badge-color                            : #fff;
--toolbar-list-group-item-badge-bg-color                         : rgb(245,169,184);
--toolbar-tag-cloud-bg-color                                     : #f9cdd6;

--topbar-bg-color                                                : rgb(245,169,184);
--topbar-link-color                                              : #fff;
--topbar-shadow-color                                            : #ccc;

--fa-border-color                                                : #eee;

--timeline-b-color                                               : #909399;
--timeline-t-color                                               : #777;
--timeline-hover-t-color                                         : rgb(245,169,184);
--timeline-hover-b-color                                         : rgb(91,206,250);
--timeline-circle-color                                          : #ccc;
--timeline-line-color                                            : #eee;
--timeline-circle-bg-color                                       : #fff;
--timeline-item-bg-color                                         : rgba(245,169,184,.1);

--table-text-color                                               : #555;

/*
红色：rgb(245,169,184); #F5A9B8;
蓝色：rgb(91,206,250); #5BCEFA;
*/

}