/*
night 配色

灰黑为主色调。
相对于 white 配色，~~相当于反色~~。
*/

.color-night {

--text-color                                                     : #aaa;

--siteloading-bg-color                                           : rgba(33, 33, 33, .7);
--scrollbar-bg-color                                             : #444;
--scrollbar-color                                                : #666;
--body-shadow-color                                              : #999;

--blockquote-color                                               : #252525;
--a-color                                                        : rgb(170, 170, 170);
--hr-color                                                       : rgb(33, 33, 33);
--h-bg-color                                                     : rgba(99,99,99,.3);
--h-cross-color                                                  : #ff8282;

--toolbar-fa-border-color                                        : rgb(37, 37, 37);

--selection-color                                                : #fff;
--selection-bg-color                                             : #ddd;

--category-list-count-badge-color                                : #fff;
--category-list-count-badge-bg-color                             : #000;

--comments-bg-color                                              : #222;
--comments-border-color                                          : #222;

--footer-bg-color                                                : #333;
--footer-border-color                                            : #333;
--footer-color                                                   : #aaa;

--paginator-padding-color                                        : rgb(25, 25, 25);
--paginator-border-color                                         : rgb(33, 33, 33);
--paginator-bg-color                                             : rgb(33, 33, 33);
--paginator-color                                                : rgb(170, 170, 170);
--paginator-hover-color                                          : #fff;
--paginator-hover-bg-color                                       : rgb(33, 33, 33);
--paginator-current-color                                        : #fff;
--paginator-current-bg-color                                     : rgb(37, 37, 37);

--post-bg-color                                                  : #111;
--post-header-bg-color                                           : #222;
--post-header-border-bottom-color                                : #222;
--post-header-title-color                                        : #aaa;
--post-meta-color                                                : #98a6ad;
--post-breadcrumb-bg-color                                       : #222;
--post-breadcrumb-border-color                                   : #222;
--post-text-bg-color                                             : #222;
--post-text-border-color                                         : #222;
--post-text-link-color                                           : #ccc;
--post-text-link-hover-color                                     : #fff;
--post-prev-bg-color                                             : #222;
--post-prev-border-color                                         : #222;
--post-prev-color                                                : #aaa;
--post-next-bg-color                                             : #222;
--post-next-border-color                                         : #222;
--post-next-color                                                : #aaa;
--post-item-bg-color                                             : #222;
--post-item-border-color                                         : #222;
--post-item-meta-color                                           : #98a6ad;
--post-item-shadow-color                                         : #999;
--post-item-hover-shadow-color                                   : #555;
--post-item-bottom-shadow-color                                  : #999;

--sidebar-border-color                                           : #333;
--sidebar-bg-color                                               : #333;
--sidebar-footer-border-color                                    : #222;
--sidebar-footer-bg-color                                        : #222;
--sidebar-footer-color                                           : #98a6ad;
--sidebar-text-mini-text-color                                   : #98a6ad;
--sidebar-list-group-item-bg-color                               : #333;
--sidebar-list-group-item-color                                  : #999;
--sidebar-list-group-item-hover-color                            : #999;
--sidebar-list-group-item-hover-bg-color                         : #222;
--sidebar-list-group-item-current-color                          : #999;
--sidebar-list-group-item-current-bg-color                       : #222;
--sidebar-badge-color                                            : #fff;
--sidebar-badge-bg-color                                         : #000;

--toolbar-border-color                                           : #333;
--toolbar-bg-color                                               : #333;
--toolbar-title-color                                            : #aaa;
--toolbar-post-toc-bg-color                                      : #333;
--toolbar-post-toc-color                                         : #aaa;
--toolbar-post-toc-border-color                                  : #666;
--toolbar-tab-page-tabContent-border-top-color                   : #333;
--toolbar-tab-page-sidetitle-color                               : #98a6ad;
--toolbar-tab-page-current-border-bottom-color                   : #fff;
--toolbar-list-group-item-bg-color                               : #333;
--toolbar-list-group-item-color                                  : #aaa;
--toolbar-list-group-item-border-color                           : #666;
--toolbar-list-group-item-badge-color                            : #ddd;
--toolbar-list-group-item-badge-bg-color                         : #000;
--toolbar-tag-cloud-bg-color                                     : #333;

--topbar-bg-color                                                : #444;
--topbar-link-color                                              : #999;
--topbar-shadow-color                                            : #999;

--fa-border-color                                                : rgb(33, 33, 33);

--timeline-b-color                                               : #909399;
--timeline-hover-b-color                                         : #eb5055;
--timeline-circle-color                                          : #666;
--timeline-line-color                                            : #666;
--timeline-circle-bg-color                                       : #222;

}