$width-1                                   = unit(hexo-config('responsive.width_1'),px);
$width-2                                   = unit(hexo-config('responsive.width_2'),px);
$width-3                                   = unit(hexo-config('responsive.width_3'),px);
$max-z-index                               = 9999;
$min-z-index                               = 100;
$toolbar-z-index                           = 200;
$article-z-index                           = 300;
$sidebar-z-index                           = 400;
$topbar-z-index                            = 500;

@import "_variable/width/main";
@import "_variable/font-size/main";
@import "_variable/colors/main";
@import "_variable/special/main";