$dividing-1                                = unit(hexo-config('responsive.dividing_1'),px);
$dividing-2                                = unit(hexo-config('responsive.dividing_2'),px);
$dividing-3                                = unit(hexo-config('responsive.dividing_3'),px);
$max-z-index                               = 1919810;
$min-z-index                               = 10;
$article-z-index                           = 25;
$sidebar-z-index                           = 40;
$sidebar-footer-z-index                    = 30;
$topbar-z-index                            = 50;
$swal2-z-index                             = 90;

@import "_variable/width/main";
@import "_variable/font-size/main";