calc-width(a , b)
    return a - b;

$sidebar-width-1  = 220px;
$sidebar-width-2  = 220px;
$sidebar-width-3  = 220px;
$sidebar-width-4  = 220px;
$-sidebar-width-4 = -220px;

$toolbar-width-1  = 240px;
$toolbar-width-2  = 240px;

$article-width-1  = calc-width($pc_pe_dividing_1,$sidebar-width-1);
$article-width-2  = calc-width($pc_pe_dividing_2,$sidebar-width-2);
$article-width-3  = calc-width($pc_pe_dividing_3,$sidebar-width-3);
$article-width-4  = 100%;

$dis-sidebar-1    = $sidebar-width-1;
$dis-sidebar-2    = $sidebar-width-2;
$dis-sidebar-3    = $sidebar-width-3;
$dis-sidebar-4    = 0;