$header-title-fs                      = 30px;
$header-subtitle-fs                   = 15px;
$topbar-fs                            = 20px;
$card-title-fs                        = 30px;
$card-subtitle-fs                     = 16px;
$text-fs                              = 17px;
$text-media-fs                        = 15px;
$mini-fs                              = 12px;
$small-fs                             = 15px;
$normal-fs                            = 16.5px;
$huge-fs                              = 25px;
$h1-fs                                = 37px;
$h2-fs                                = 31px;
$h3-fs                                = 26px;
$h4-fs                                = 23px;
$h5-fs                                = 20px;
$h6-fs                                = 17px;