$default-fs                           = 17px;

$topbar-fs                            = 20px;
$sidebar-mini-fs                      = 12px;
$toolbar-mini-fs                      = 12px;

$post-fs                              = 17px;
$post-small-fs                        = 15px;
$header-title-fs                      = 30px;
$header-subtitle-fs                   = 15px;
$card-title-fs                        = 30px;
$card-subtitle-fs                     = 16px;

$tags-list-fs                         = 17px;
$category-list-fs                     = 20px;
$category-list-count-fs               = 20px;

$h1-fs                                = 37px;
$h2-fs                                = 31px;
$h3-fs                                = 26px;
$h4-fs                                = 23px;
$h5-fs                                = 20px;
$h6-fs                                = 17px;