.category-list-count {
	margin: 5px 5px 5px 20px;
}

.category-list-count {
	padding: 2px 6px;
    font-size: 20px;
	color: var(--category-list-count-badge-color);
	background-color: var(--category-list-count-badge-bg-color);
	border-radius: 8px;
}

.category-list-item {
	margin: 10px;
}

@media screen and (max-width: $width-3) {
    .category-list-count {
		margin: 5px 5px 5px 10px;
	}
}

.tags {
	font-size: $huge-fs;
	a {
		display: inline-block;
		padding: 2px 6px;
		color: #777 !important;
		border: none !important;
		margin-right: 30px;
	}
}

.archives a,.category-list-item a {border: none !important;}

.category-list-item a {font-size: 20px;}