.category-list-count {
	margin: 5px 5px 5px 20px;
}

.category-list-count,.archives .pre .archives-date {
	padding: 2px 6px;
	font-size: 20px;
	color: $category-list-count-badge-color;
	background-color: $category-list-count-badge-bg-color;
	border-radius: 8px;
}

.category-list-item {
	margin: 10px;
}

@media screen and (max-width: $pc_pe_dividing_3) {
    .category-list-count {
		margin: 5px 5px 5px 10px;
	}
}

.tags {
	font-size: $huge-fs;
	a {
		display: inline-block;
		padding: 2px 6px;
		color: #777 !important;
		border: none !important;
		margin-right: 30px;
	}
}

.archives .pre {
	a {font-size: 20px;}
	
	.archives-date {
		color: #fff !important;
		&:hover {color: #fff !important;}
	}

	.month {
		display: inline-block;
	}
}

.archives a,.category-list-item a {border: none !important;}

.category-list-item a {font-size: 20px;}