.footer {
	background-color: var(--footer-bg-color);
	border-top: 1px solid var(--footer-border-color);
	padding: 15px;
	margin-left: $sidebar-width-1;
	display: flex;
	justify-content: space-between;

	* { color: var(--footer-color); }

	p { margin: 0px; }

	.text-left,.text-right {
		max-width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media screen and (max-width: $width-1) {
    .footer {
        margin-left: $sidebar-width-2;
        display: block;
        .text-left,.text-right {
            display: block;
            max-width: 100%;
            white-space: inherit;
        }
    }
}

@media screen and (max-width: $width-2) {
    .footer {margin-left: $sidebar-width-3;}
}

@media screen and (max-width: $width-3) {
    .footer {margin: 0;}
}