.paginator {
	padding: 70px 0;
    text-align: center;
    background-color: var(--paginator-padding-color);

    .page-number,.space,.prev,.next {
    	border: 1px solid var(--paginator-border-color);
    	padding: 10px;
    	margin: 2px;
    	background-color: var(--paginator-bg-color);
    	border-radius: 5px 5px 5px 5px;
        color: var(--paginator-color);
    }

    .page-number:hover,.prev:hover,.next:hover {
        color: var(--paginator-hover-color);
        background-color: var(--paginator-hover-bg-color);
    }

    .current,.current:hover {
        color: var(--paginator-current-color);
    	background-color: var(--paginator-current-bg-color);
    }
}