.toolbar {
	border-left: 1px solid var(--toolbar-border-color);
	background: var(--toolbar-bg-color);
	width: $toolbar-width-1;
	height: 100%;
	box-sizing: border-box;
	z-index: $toolbar-z-index;
	
	.item {padding: 12px;}

	.post-toc {
		position: sticky;
		top: 60px;
		padding: 9px 13px;
		
		.post-toc-inner {
			max-height: 70vh;
			overflow: auto;
		}

		.post-toc-inner::-webkit-scrollbar {
    		width: 0 !important;
    		height: 0 !important;
		}

		ol {
			margin: 5px 0px;
  			padding-left: 0px;
		}
		li {
  			display: block;
  			padding: 6px;
  			margin-bottom: -1px;
 			background: var(--toolbar-post-toc-bg-color);
 			color: var(--toolbar-post-toc-color);
 			border: 1px solid var(--toolbar-post-toc-border-color);

 			span {
 				word-wrap: break-word;
			}
		}

		li:first-child {
			border-top-left-radius: 10px;
    		border-top-right-radius: 10px;
  		}
  		li:last-child {
    		border-bottom-left-radius: 10px;
    		border-bottom-right-radius: 10px;
  		}
	}

	.toolbar-tag-cloud {
		a {
			display: inline-block; 
			margin: 2px; 
			padding: 3px 6px;
			border-radius: 8px; 
			background: var(--toolbar-tag-cloud-bg-color);
			font-weight: bold;
		}
	}

	.tab-page {
		box-shadow: none;

		.tb-tabTitle >ul >li {
			height: auto;
		}
		.tb-tabContent .title_fa {
			display: table;
			width: 100%;
			padding: 10px 5px;
			border-radius: 10px;
			transition: 0.6s all;
			&:hover {box-shadow: 0px 0px 15px var(--post-item-hover-shadow-color);}
			.title,i {
				display: table-cell;
				vertical-align: middle;
			}
			.title {
				padding-left: 12px;
				width: 100%;
			}
		}
		.sidetitle {
			color: var(--toolbar-tab-page-sidetitle-color);
			font-size: $toolbar-mini-fs;
			font-weight: 500;
		}
		.fa-border {
			border-color: var(--toolbar-fa-border-color);
		}
	}

	.item .title,.tab-page .title,.post-toc .title {
		color: var(--toolbar-title-color);
		font-weight: 500;
	}

	.item .title,.post-toc .title {
		margin-bottom: 10px;
	}

	.list-group {
  		margin-bottom: 20px;
  		padding-left: 0px;
	}

	.list-group-item {
  		padding: 9px 13px;
 		background: var(--toolbar-list-group-item-bg-color);
 		color: var(--toolbar-list-group-item-color);
 		border: 1px solid var(--toolbar-list-group-item-border-color);
 		display: flex;
 		justify-content: space-between;

 		.badge {
			background: var(--toolbar-list-group-item-badge-bg-color);
 		}
	}
	.list-group-item:first-child {
    	border-radius: 5px 5px 0px 0px;
  	}
  	.list-group-item:last-child {
    	border-radius: 0px 0px 5px 5px;
  	}
  	.list-group-item:not(:last-child) {
    	border-bottom: none;
  	}

  	.no-lrpadding {
  		padding-left: 8px !important;
  		padding-right: 8px !important;
  	}
}

@media screen and (max-width: $width-1) {
    .toolbar {
        width: $toolbar-width-2 !important;
    }
}

@media screen and (max-width: $width-2) {
    .toolbar {
        display: block !important;
        width: 100% !important;
        padding: 10px;
    }
}