.topbar {
	background-color: $topbar-bg-color;
	box-shadow: 0 0 5px $topbar-shadow-color;
	padding: 12px;
	position: sticky;
	top: 0;
	z-index: $topbar-z-index;
	display: flex;
	justify-content: space-between;
	height: 50px;

	.topbar-title { font-weight: 700; }
	.topbar-menu { display: none; }
    a { color: $topbar-link-color; }

	.topbar-title,.topbar-comments,.topbar-menu { 
        font-size: $topbar-fs;
        margin-top: auto;
        margin-bottom: auto;
    }
}

.github-corner>svg {
	z-index: -99999;
}

@media screen and (max-width: $dividing-3) {
	.topbar {
		.topbar-menu {
			display: block !important;
		}
   		.search {
    	    display: none !important;
    	}
	}
}